SERVICE_NAME=golang-structure
SERVICE_PORT=8080
SERVICE_READ_TIMEOUT=60

MASK_PATTERN={"password":"4:2","email":"4:com"}

BCRYPT_COST=10

SQLDB_HOST=localhost
SQLDB_PORT=5432
SQLDB_USER=
SQLDB_PASSWORD=
SQLDB_DB_NAME=golang-structure-db
SQLDB_SSL_MODE=disable
SQLDB_MAX_IDLE_CONNS=10
SQLDB_MAX_OPEN_CONNS=100
SQLDB_CONN_MAX_LIFETIME=1h
SQLDB_DRIVER=postgres