services:
  postgres:
    image: postgres:18
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - app-network

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge
